<!-- project/create_interest_form.html base template page
     Kaylie Leung kleung28@bu.edu-->
{% extends 'project/base.html' %}
{% block content %}
<h1>Add a Course</h1>
<div class="search-bar">
    <form action="javascript:getSections(this.college, this.department, this.course_number)">
        <label for="college">College: </label><input type="text" name="college" id="college" required>
        <label for="department">Department: </label><input type="text" name="department" id="department" required>
        <label for="course_number">Course Number: </label><input type="text" name="course_number" id="course_number" required>
        <input type="submit" value="Search">
    </form>
</div>
<div class="results" id="results"></div>
<script>
    const csrfToken = "{{csrf_token}}"

    function getSections(){
        //clear previous results
        document.getElementById("results").innerHTML = ""
        //get search vals and add to url for get
        const college = document.getElementById("college").value
        const department = document.getElementById("department").value
        const course_number = document.getElementById("course_number").value
        const url = `https://www.bu.edu/phpbin/courses/api/courses/?add_sections=1&semester=2025SPRG&college=${college.toUpperCase()}&department=${department.toUpperCase()}&course_number=${course_number}`

        //fetch response
        const response = fetch(url, {
            method: 'GET',
        }).then(response => response.json()
        ).then(data => {
            //check if courses exist
            if(!data.courses || data.courses.length == 0){
                var courseDiv = document.createElement("div")
                courseDiv.className = "list-item"
                courseDiv.style.display = "flex"
                courseDiv.style.flexDirection = "column"
                courseDiv.style.textAlign = "left"
                courseDiv.style.alignItems = "flex"
                courseDiv.innerHTML = "No Courses Found."
                document.getElementById("results").appendChild(courseDiv)
            } else{
                //loop through course returned
                data.courses.forEach(course => {
                var courseDiv = document.createElement("div")
                courseDiv.className = "list-item"
                courseDiv.style.display = "flex"
                courseDiv.style.flexDirection = "column"
                courseDiv.style.textAlign = "left"
                courseDiv.style.alignItems = "flex"
                courseDiv.innerHTML = `<h3>${course.college}${course.department} ${course.course_num} - ${course.title}</h3>${course.description}`
                //check if course has sections
                if(!course.sections || !course.sections['2025SPRG']){
                    var sectionDiv = document.createElement("div")
                    sectionDiv.className = "section"
                    sectionDiv.innerHTML = "No Sections Found."
                    sectionDiv.style.textAlign = "center"
                    sectionDiv.style.justifyContent = "center"
                    sectionDiv.style.padding = "10px"
                    sectionDiv.style.margin= "10px"
                    sectionDiv.style.fontSize = "18px"
                    courseDiv.appendChild(sectionDiv)
                } else{
                    //loop through course sections
                    course.sections['2025SPRG'].forEach(section => {
                    var sectionDiv = document.createElement("div")
                    //make button to add to db using hidden form with vals from request
                    var addCourseButton = `<form method="POST">
                                            <input type="hidden" name="csrfmiddlewaretoken" value="${csrfToken}">
                                            <input type="hidden" name="college" value="${course.college}">
                                            <input type="hidden" name="department" value="${course.department}">
                                            <input type="hidden" name="course_number" value="${course.course_num}">
                                            <input type="hidden" name="section_number" value="${section.section_name}">
                                            <input type="submit" value="Add">
                                        </form>`
                    sectionDiv.className = "section"
                    sectionDiv.innerHTML = `<div class="section-left">${section.section_name} - ${section.instructor_fullname}</div><div class="section-right">${addCourseButton}</div>`
                    courseDiv.appendChild(sectionDiv)
                })
                }
                document.getElementById("results").appendChild(courseDiv)
            })
            }
        })
    }
</script>
{% endblock %}