<!-- mini_fb/update_profile_form.html display a form to delete a status message on this webpage
     Kaylie Leung kleung28@bu.edu-->
{% extends 'mini_fb/base.html' %}

{% block content %}

<h3>Are you sure you want to delete this status message?</h3>
<p>
    {{status_message}}
</p>
<table>
    <tr>
        <td>
            <form method='POST'>
                {% csrf_token %}
                <input type='submit' value="Delete">
            </form>
        </td>
        <td>
            <form action="{% url 'my_profile' %}" method='GET' >
                {% csrf_token %}
                <input type='submit' value="Cancel">
            </form>
        </td>
    </tr>
</table>

{% endblock %}