body {
    padding:2% 5% 2% 5%;
    background-color: aliceblue;
}

h1 {
    font-size: 36pt;
    font-family: merriweather;
    color: #000042;
}

p {
    font-family: helvetica;
    font-size: 12pt;
}

#image-list {
    list-style: none;
}

img {
    max-height: 500px;
}

#nav {
    display: inline-block;
    padding: 10px 5px 10px 5px;
    margin: 10px 5px 10px 5px;
    font-size: 18pt;
}

a {
    font-family: helvetica;
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: grey;
}

td, th{
    padding:15px 10px 15px 10px;
    text-align: center;
}

textarea{
    min-width: 700px;
    min-height: 100px;
    margin: 10px 10px 10px 10px;
}

input{
    margin: 10px 10px 10px 10px;
}

#profile_image{
    max-width: 200px;
}

#status_message_image{
    max-height: 100px
}

input[type=submit] {
    background: none;
    font-family: helvetica;
    text-decoration: none;
    color: black;
    font-size: large;
    border: 0;
    font-weight: 600;
}

#friend_profile_images{
    max-width: 100px;
}