body {
    font-family: 'Helvetica';
    margin: 0;
    padding: 2%;
    font-size: 16px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li{
    list-style-type: none;
    margin: 10px;
    padding: 0px;
    display: flex;
}

nav ul li a, nav ul li form button{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    background-color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

h1 {
    color: #143359;
}

.interests {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 20px;
}

.interest {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f4f6f8;
    padding: 20px 15px;
    margin: 5px 0 0 5px;
    font-size: 18px;
}

.interest-top{
    width: 100%;
    color: #143359;
    font-weight: bold;
}

.interest-bottom{
    display: flex;
    width: 100%;
}

.interest-bottom-left {
    width: 70%;
    padding-left: 2%;
}

.interest-bottom-right {
    width: 30%;
    text-align: right;
}

.interest-bottom-right a {
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 50px;
    font-weight: 600;
    background-color:#143359;
    color: white;
}

.interest-bottom-right a:hover {
    background-color: #a1b8d4;
}

.lists {
    display: flex;
    min-height: 450px;
    padding: 5px 10px;
    gap: 10px;
    font-size: 20px;
    color: #143359;
}

.wish-list, .enrolled-list{
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: #f4f6f8;
    padding: 5px 10px;
    border-radius: 10px;
}

.list-item {
    align-items: center;
    background: white;
    padding: 20px 15px;
    margin-top: 5px;
    font-size: 18px;
    border: 2px solid #dce0e6;
    border-radius: 6px;
    color: black;
    display: flex;
    justify-content: space-between;
}

.student-info {
    font-size: 28px;
    font-weight: bold;
    margin: 15px;
    color: #143359;
}

.list-add {
    align-self: flex-end;
    margin: 15px 0px;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 50px;
    font-weight: 600;
    background-color:#143359;
    color: white;
}

.list-add:hover {
    background-color: #a1b8d4;
}

.requests {
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
    padding: 5px 10px;
    background-color: #f4f6f8;
    border-radius: 6px;
    font-size: 20px;
    color: #143359;
}

.request {
    display: flex;
    padding: 15px 10px;
    margin-top: 5px;
    background: white;
    border: 2px solid #dce0e6;
    border-radius: 6px;
    font-size: 18px;
    color: black;
}
.request-left {
    width: 85%;
}
.request-right {
    width: 15%;
    text-align: right;
    text-justify: center;
}
.request-right a{
    align-content: center;
    margin: 15px 0px;
    color: black;
    padding: 7px 15px;
    text-decoration: none;
    border-radius: 50px;
    font-weight: 600;
    background-color:#143359;
    color: white;
}

.request-right a:hover{
    background-color: #a1b8d4;
}

.request-left a{
    color:black;
}

input[type="submit"], .swap, form a{
    align-self: flex-end;
    margin: 15px 0px;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 50px;
    font-weight: 600;
    background-color:#143359;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover, .swap:hover, form a:hover {
    background-color: #a1b8d4;
}

form {
    font-size: 18px;
}

.create-request-top {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
    padding: 10px;
}

.create-request-top div {
    width: 50%;
    text-align: center;
}

select {
    height: 30px;
    width: 200px;
    border: 2px solid #dce0e6;
    border-radius: 6px;
    font-size: 16px;
}

.create-request-bottom {
    text-align: right;
    padding: 0px 10px;
}

input[type="text"], input[type="password"]{
    height: 30px;
    width: 200px;
    font-family: helvetica;
    padding: 5px;
    border: 2px solid #dce0e6;
    border-radius: 6px;
    font-size: 16px;
    margin: 5px;
}

.search-bar input[type="text"] {
    width: 150px;
}

.search-bar {
    font-size: 20px;
}

.search-bar form table tr td {
    padding: 0px 5px;
    font-size: 18px;
}

.section {
    display: flex;
    width: 100%;
    background-color: #f4f6f8;
    border-radius: 6px;
    margin: 10px 0;
    align-items: center;
}

.section-left {
    text-justify: center;
    width: 90%;
    height: 100%;
    padding: 10px;
}

.section-right {
    width: 10%;
    text-align: right;
}

.section-right form input[type="submit"]{
    margin: 10px;
    font-size: 16px;
}

.section-right form {
    margin: 0;
}

.delete-form {
    margin: 0;
    justify-self: right;
}

.delete-form input {
    margin: 0;
    font-size: 24;
    color: #143359;
    background-color: white;
    padding: 0;
    border-radius: 0;
    font-weight: 900;
}

.delete-form input:hover {
    color: #a1b8d4;
    background-color: white;
}