{% extends 'quotes/base.html' %}
    {% block content %}
        <h1>About Marie Curie</h1>
        <p>Marie Curie was a polish scientist born in 1867 who studied radioactivity. In her work she discovered two elements polonium and radium. Some of her accomplishments are being the first female nobel prize winner, the first to win two nobel prizes, and the only to win nobels in two scientific fields </p>
        <h1>About The Author</h1>
        <p>This app is brought to you by Kaylie Leung. Kaylie is currently a Senior computer science major at Boston University. In her free-time, Kaylie enjoys dance, cooking, and travelling.</p>
    {% endblock %}